#resources
www/img
www/video

#platforms resources - ios
platforms/ios/www/img
platforms/ios/www/video

#platforms resources - android
platforms/android/assets
platforms/android/CordovaLib
platforms/android/cordova
platforms/android/platform_www

#plugins
plugins
