#p1 {
    background: #ccc url(../img/1.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p2 {
    background: #ccc url(../img/2.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p3 {
    background: #ccc url(../img/3.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p4 {
    background: #ccc url(../img/4.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p5 {
    background: #ccc url(../img/5.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

/*======page 5 tags=========*/
#aImg5-1 img {
    position: absolute;
    left: 8.7%;
    bottom: 21.8%;
    width: 20.4%;
    height: 28.82%;
}

#aImg5-2 img {
    position: absolute;
    left: 34.9%;
    bottom: 21.8%;
    width: 26.83%;
    height: 28.82%;
}
/*======page 5 tags=========*/

#p6 {
    background: #ccc url(../img/6.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

/*=======page 6 tags=========*/
#videoTurning {
    position: absolute;
    left: 7%;
    bottom: 10%;
}
/*=======page 6 tags=========*/

#p7 {
    background: #ccc url(../img/7.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p8 {
    background: #ccc url(../img/8.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p9 {
    background: #ccc url(../img/9.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p10 {
    background: #ccc url(../img/10.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p11 {
    background: #ccc url(../img/11.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p12 {
    background: #ccc url(../img/12.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p13 {
    background: #ccc url(../img/13.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p14 {
    background: #ccc url(../img/14.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p15 {
    background: #ccc url(../img/15.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p16 {
    background: #ccc url(../img/16.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p17 {
    background: #ccc url(../img/17.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p18 {
    background: #ccc url(../img/18.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p19 {
    background: #ccc url(../img/19.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p20 {
    background: #ccc url(../img/20.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
/*======page 20 tags=========*/
#aImg20-1 img {
    position: absolute;
    left: 7.5%;
    bottom: 46.2%;
    width: 42.04%;
    height: 43.91%;
}
#aImg20-2 img {
    position: absolute;
    left: 50.3%;
    bottom: 63.58%;
    width: 42.21%;
    height: 26.52%;
}
#aImg20-3 img {
    position: absolute;
    left: 34.9%;
    bottom: 21.8%;
    width: 26.83%;
    height: 28.82%;
}
#aImg20-4 img {
    position: absolute;
    left: 50.29%;
    bottom: 46.2%;
    width: 42.33%;
    height: 16.82%;
}
/*======page 20 tags=========*/

#p21 {
    background: #ccc url(../img/21.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
/*======page 21 tags=========*/
#aImg21-1 img {
    position: absolute;
    left: 7.35%;
    bottom: 69.5%;
    width: 42.2%;
    height: 20.52%;
}

#aImg21-2 img {
    position: absolute;
    left: 7.4%;
    bottom: 46.3%;
    width: 42.23%;
    height: 22.82%;
}

#aImg21-3 img {
    position: absolute;
    left: 7.4%;
    bottom: 35.3%;
    width: 42.23%;
    height: 10.42%;
}

#aImg21-4 img {
    position: absolute;
    left: 50.4%;
    bottom: 63.6%;
    width: 42.13%;
    height: 26.42%;
}

#aImg21-5 img {
    position: absolute;
    left: 50.4%;
    bottom: 35.3%;
    width: 42.23%;
    height: 27.82%;
}
/*======page 21 tags=========*/

#p22 {
    background: #ccc url(../img/22.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#p23 {
    background: #ccc url(../img/23.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
/*======page 23 tags=========*/
#videoOkgo {
    position: absolute;
    left: 7%;
    bottom: 54%;
    width: 81%;
}
#okgoLink {
    position: absolute;
    display: block;
    width:20%;
    height:3%;
    left:40%;
    top:85%;
}
/*======page 23 tags=========*/

#p24 {
    background: #ccc url(../img/24.jpg) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

img {
    z-index : 2;
}